

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Feedback Report</title>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css"/>
    <style>
    </style>
</head>
<body>


<div class="container-fluid">
    <h1 class="text-center mt-2 pb-3">Creator Bit Feedback Report</h1>

    <br>

    <div class="table-responsive" >

        <table class="table table-bordered">
            <thead>
            <tr class="text-center">
                <th>Full Name</th>
                <th>Mobile no </th>
                <th>Email</th>
                <th>Message</th>
                <th>Contact Date</th>
            </tr>
            </thead>

            <tbody>

            <% feedbacks.forEach(feedback => {%>
            <tr>
                <td><%=feedback.fullName %></td>
                <td><%=feedback.mobileNo %></td>
                <td><%=feedback.email%></td>
                <td><%=feedback.message%></td>
                <td><%= moment(feedback.contactDate).format('ddd, MMMM-YYYY') %></td>
            </tr>
            <%});%>
            </tbody>
        </table>
    </div>

    <center>

        <button   onclick="javascipt:window.print()" class="btn btn-primary px-5 m-4" >Print</button>
    </center>
</div>

</body>
</html>
