

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css"/>
  <style>
  
 
  
  </style>
</head>
<body>


<div class="container-fluid">
  <h1 class="text-center mt-2 pb-3">Creator Bit User SignUp Report</h1>
  
  <br>

  <div class="table-responsive" >
   
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile no </th>
        <th>Role</th>
        <th>Bio</th>
        <th>Registered Date</th>
        <th>Modified Date</th>
      </tr>
    </thead>
    
    <tbody>
    
    <% users.forEach(user => {%>
      <tr>
        <td><%=user.username %></td>
        <td><%=user.name %></td>
        <td><%=user.email%></td>
        <td><%=user.mobileNo%></td>
        <td><%=user.role%></td>
        <td><%=user.bio %></td>
        <td><%= moment(user.createdAt).format('ddd, MMMM-YYYY') %></td>
        <td> <%= moment(user.updatedAt).format('ddd, MMMM-YYYY') %></td>
        </tr>
    <%});%>
    </tbody>
  </table>
 </div>
  
  <center>
  
  <button   onclick="javascipt:window.print()" class="btn btn-primary px-5 m-4" >Print</button>
     </center>
</div>

</body>
</html>
