<%- include('admin-dashboard-navigation.ejs') %>

<% if (messageInfo !== "undefined") { %>
    <%- include('../admin/partials/message.ejs',messageInfo ) %>
<% } %>


<div class="container custom-container-category">
                  <div class="col-md-6 offset-md-3 m-auto pt-5">
                      <div class="card shadow-lg">
                        <div class="card-header">
                             <h3 class="mb-0 font-weight-bold text-center"> Edit Project Category</h3>
                        </div>
                    <div class="card-body">
                        <form action="/admin/dashboard/update/campaign-category/<%=category.id %>" method="post" class="form" role="form" enctype="multipart/form-data" >
                              <div class="form-group">
                                        <label for="name">ID</label>
                                        <input type="text"  readonly class="form-control " id="name" name="id"  value="<%=category.id %>" required>
                                    </div>      
                                    
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" value="<%= category.name %>"required>
                                    </div>
                                
                        <div class="form-group">
                             <label for="description">Description</label>
                             <input type="text" class="form-control" id="description" name="description" value="<%= category.description%>" required>
                        </div>

                        <div class="form-group">
                             <label for="image">Image</label>
                             <input type="file" class="form-control" id="image" name="image">
                        </div>
                        <div class="form-group">
                             <button type="submit" class="btn btn-success btn-lg float-right">
                                 <i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                      </div>
               </form>
              </div>
             </div>
            </div>
           </div>


</body>
</html>