<%- include('admin-dashboard-navigation.ejs') %>

<div class="container custom-container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col col-xs-6">
                    <h3 class="panel-title text-center">All Users</h3>
                </div>
            </div>
        </div>
        <div class="ml-5 mt-3">
            <form action="/admin/dashboard/show/user/page" method="post" style=" display:inline!important;">
           <span>
            Show
            <select name="totalRecordPerPage" onchange='this.form.submit()' >
              <option value="10" selected disabled hidden>10</option>
              <option value="10">10</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="all">ALL</option>
            </select>
            entries
          </span>
            </form>


            <span style="margin-left: 635px;">
            Search: <input type="text" id="search_data" >
            </span>
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>User Id</th>
                    <th>Full Name</th>
                    <th>Username</th>
                    <th>User Type</th>
                    <th>Email</th>
                    <th>Mobile no</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.name %></td>
                        <td><%= user.username %></td>
                        <td><%= user.role %></td>
                        <td><%= user.email %></td>
                        <td><%= user.mobileNo %></td>

                        <td style="width:140px;">
                            <a class="btn btn-light btn-outline-success custom-btn-link text-dark"
                               href="/admin/dashboard/show/user/<%=user.username %>">
                                <i class="fa fa-eye" aria-hidden="true"></i></a>

                            <a class="btn btn-danger custom-btn-link"
                               href="/admin/dashboard/user/delete/<%= user.id %>"
                               onclick="return confirm('Are you really want to delete')"><i class="fa fa-trash"
                                                                                            aria-hidden="true">
                                </i>
                            </a>

                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>

            <hr>

            <ul class="pagination  justify-content-center">

                <li class="page-item disabled ">
                    <a class="page-link" href="/admin/dashboard/show/users/page?page=-1" aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>


                <li class="page-item active">
                    <a class="page-link" href="/admin/dashboard/show/users/page?page=0">1</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="/admin/dashboard/show/users/page?page=1" aria-label="Next">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>